ORTHANC_URL=https://orthanc.unboxed-2026.ovh
ORTHANC_USERNAME=unboxed
ORTHANC_PASSWORD=unboxed2026
MISTRAL_API_KEY=your_mistral_api_key
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key
LANGFUSE_HOST=https://cloud.langfuse.com
